body {
  text-align: center;
  background-color: #70798c;
  color: #252323;
}

img {
  border: 2px solid #252323;
  border-radius: 5px;
  max-width: 75%;
  max-height: 65%;
}

.albumContainer {
  margin: 1%;
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(4, 1fr);
}

.albumsDisplay {
  border: 3px solid #252323;
  border-radius: 10px;
  color: #252323;
  background-color: #dad2bc;
}

.showAlbum {
  border: 3px solid #252323;
  color: #252323;
  background-color: #dad2bc;
  border-radius: 10px;;
  width: 40%;
  margin: auto;
  padding: 15px;
}

.showAlbum img {
  max-height: 500px;
}